In [ ]:
import tensorflow as tf
import pandas as pd

In [21]:
data = pd.read_csv("./csv/lemonade.csv")
# data.head()

In [35]:
independent_variables = data[['온도']]
dependent_variables = data[['판매량']]

In [36]:
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
model.fit(independent_variables, dependent_variables, epochs=100000, verbose=0)
# model.fit(independent_variables, dependent_variables, epochs=10)

In [30]:
variables.head()

   온도
0  20
1  21
2  22
3  23
4  24

In [31]:
model.predict(variables)

array([[39.989502],
       [41.989002],
       [43.9885  ],
       [45.988   ],
       [47.987495],
       [49.986996]], dtype=float32)